@import './variables.css';

.main-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: 1fr;
}
.main-container__user {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.37);
  z-index: 100;
}
.chat-window {
  width: 100%;
  height: 100vh;
}
.chat-window .chat-header {
  display: grid;
  grid-template-columns: 100px 1fr;
  width: 100%;
  height: 74px;
  background: var(--green);
  cursor: pointer;
}
.chat-header__img-contact {
  width: 54px;
  height: 54px;
  align-self: center;
  justify-self: end;
}
.chat-window .chat-header p {
  align-self: center;
  margin-left: 32px;
  color: #fff;
  font-size: 1.8rem;
  font-family: var(--poppins);
  font-weight: 700;
}
.chat-window .chat-body {
  height: calc(100vh - 161px);
  background: var(--gray);
  position: relative;
}
.react-scroll-to-bottom--css-rykrv-1n7m0yu::-webkit-scrollbar {
  width: 5px;
  background: rgba(0,0,0,0);
}
.react-scroll-to-bottom--css-rykrv-1n7m0yu::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.288);
  width: 5px;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #43a047;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color: cornflowerblue;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}














.chat-window .chat-footer {
  height: 87px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);;
  display: grid;
  grid-template-columns: 90% 10%;
}

.chat-window .chat-footer input {
  height: 46px;
  width: 90%;
  justify-self: center;
  align-self: center;
  
  border-radius: 50px;
  border: none;
  padding: 0 0 0 33px;
  font-size: 1em;
  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

.chat-window .chat-footer button:hover {
  color: #43a047;
}
.hide {
  opacity: 0 !important;
}
.container__user-btn-edit {
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn-edit-data {
  background: none;
  margin-top: 3px;
  border: none;
  font-family: var(--poppins);
  font-weight: 700;
  color: var(--green);
  cursor: pointer;
  text-decoration: underline;
}