@import './variables.css';

.main-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: 1fr;
}
.main-container__user {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.37);
  z-index: 100;
}
.chat-window {
  width: 100%;
  height: 100vh;
}
.chat-window .chat-header {
  display: grid;
  grid-template-columns: 100px 1fr;
  width: 100%;
  height: 74px;
  background: var(--green);
  cursor: pointer;
}
.chat-header__img-contact {
  width: 54px;
  height: 54px;
  align-self: center;
  justify-self: end;
}
.chat-window .chat-header p {
  align-self: center;
  margin-left: 32px;
  color: var(--white);
  font-size: 1.8rem;
  font-family: var(--poppins);
  font-weight: 700;
}
.chat-window .chat-body {
  height: calc(100vh - 161px);
  background: var(--gray);
  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.message-you, .message-another {
  width: 90%;
  margin: 10px auto 10px;
  display: flex;
}
.message__img-user-you {
  width: 40px;
  height: 40px;
}
.message__img-user-you img {
  width: 100%;
  height: 100%;
}
.message__text-you{
  margin-left: 10px;
}
.message__text--send-you {
  width: auto;
  max-width: 640px;
  margin-bottom: 3px;
  background-color: var(--white);
  color: var(--black);
  padding: 11px 20px 11px 20px;
  border-radius: 20px;
  font-family: var(--poppins);
  font-weight: 400;
  font-size: 1.4rem;
}
.message-another {
  justify-content: end;
}
.message__img-user-another {
  width: 40px;
  height: 40px;
}
.message__img-user-another img {
  width: 100%;
  height: 100%;
}
.message__text-another {
  margin-right: 10px;
}
.message__text--send-another {
  max-width: 640px;
  font-family: var(--poppins);
  font-size: 1.4rem;
  padding: 11px 20px;
  background: #ECFFF7;
  border-radius: 20px;
  margin-bottom: 3px;
}

.chat-window .chat-footer {
  height: 87px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);;
  display: grid;
  grid-template-columns: 92% 8%;
  background: var(--gray);
}

.chat-window .chat-footer input {
  height: 46px;
  width: 95%;
  justify-self: center;
  align-self: center;
  border-radius: 50px;
  border: 1px solid rgba(0,0,0,.1);
  padding: 0 0 0 33px;
  font-size: 1.4rem;
  font-weight: 500;
  outline: none;
  font-family: "Open Sans", sans-serif;
}
.chat-window .chat-footer input::-webkit-input-placeholder {
  font-family: var(--poppins);
  font-weight: 500;
  font-size: 1.4rem;
  opacity: 20.09%;
}
.btn-send-message {
  justify-self: start;
  align-self: center;
  width: 45px;
  height: 45px;
  cursor: pointer;
  outline: none;
  font-size: 25px;
  color: lightgray;
  border: none;
  background: none;
}
.icon-btn-send {
  width: 100%;
  height: 100%;
}
.container__user-btn-edit {
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn-edit-data {
  background: none;
  margin-top: 3px;
  border: none;
  font-family: var(--poppins);
  font-weight: 700;
  color: var(--green);
  cursor: pointer;
  text-decoration: underline;
}